@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-50rem)
    }

    80% {
        transform: translateY(4rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes bounceDown {
    0% {
        transform: translateY(2rem)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes wiggle {
    25% {
        transform:rotate(5deg)
    }

    50% {
        transform: rotate(-5deg)
    }

    75%{
        transform: rotate(5deg);
    }
}

@keyframes ballBounce {
    
    25%{
        transform: translateY(-3rem);
    }

    50%{
        transform: translateY(2.5rem);
    }

    75%{
        transform: translateY(2.5rem) scale(1.2, 0.8);
    }
}